<h1 class="main-title">Hi, welcome to Video Viewer! 👋</h1> 

<div class="page-body"> 
    <span>
        <history [history]="history"></history>
    </span>
    <span class="videoViewer-main">
       <searchBar class="search-bar" (formSubmit)="addVideo($event)" ></searchBar>
       <videoView [history]="history" class="video-view"></videoView>
       <bookmarks class="bookmarks"[newVideoID]="newVideoID" [bookmarks]="bookmarks" [numberOfBookmarks]="numberOfBookmarks"></bookmarks>
    </span>
</div>
<span class="footer">
    <h5>made with <mat-icon class="heart-icon"color="accent">favorite_border</mat-icon>by Ania Stryjewska 2021</h5>
</span>