<h1 class="main-title">Hi, welcome to Video Viewer! 👋</h1> 

<div class="page-body"> 
    <span>
        <app-history [history]="history"></app-history>
    </span>
    <span class="videoViewer-main">
       <app-search-bar class="search-bar" (formSubmit)="addVideo($event)" ></app-search-bar>
       <app-videoview [videos]="videos" class="video-view"></app-videoview>
       <app-bookmarks class="bookmarks"[newVideoID]="newVideoID" [bookmarks]="bookmarks" [numberOfBookmarks]="numberOfBookmarks"></app-bookmarks>
    </span>
</div>
<span class="footer">
    <h5>made with <mat-icon class="heart-icon"color="accent">favorite_border</mat-icon>by Ania Stryjewska 2021</h5>
</span>