<h1>Hi, welcome to Video Viewer!</h1> 
<span>The number of bookmarks in your localStorage upon loading the page: {{numberOfBookmarks}}</span>

<div class="page-body"> 
    <span>
        <app-history [videos]="videos"></app-history>
    </span>
    <span class="videoViewer-main">
       <app-search-bar class="search-bar" (formSubmit)="addVideo($event)" ></app-search-bar>
       <app-videoview [videos]="videos" class="video-view"></app-videoview>
       <app-bookmarks class="bookmarks"[newVideoID]="newVideoID" [bookmarks]="bookmarks"></app-bookmarks>
    </span>
    
</div>