<div>
    <button class="bookmark-button" mat-raised-button (click)="bookmarkVideo()">Bookmark video</button>
    <button *ngIf="isShow" class="bookmark-button" mat-raised-button color="primary" (click)="showBookmarks()">Show bookmarks</button>
    <button *ngIf="!isShow" class="bookmark-button" mat-raised-button color="primary" (click)="showBookmarks()">Hide bookmarks</button>
    <span>No. of bookmarks in your localStorage: {{numberOfBookmarks}}</span>
    <div *ngIf="!isShow">
        <mat-card>
            <div *ngFor="let bookmark of bookmarks" >
        {{bookmark}}
            </div> 
       </mat-card>
    </div>
</div>
