.card {
   margin-top: 20px;
   padding: 3px 20px 3px 20px;
   display: flex;
   justify-content: center;
   align-content: space-between;
}

.history-section {
   margin-top: 30px;
   text-align: center;
}
.history-card {
   padding: 20px 50px;
}